@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/bg-block';
@import 'blocks/titles';
@import 'blocks/features';
@import 'blocks/about';
@import 'blocks/food-menu';
@import 'blocks/take';

@import 'blocks/media';