.contact {
    padding: 115px 0;
    background-color: #dc770b1e;

    &__wrapper {
        max-width: 750px;
        margin: 0 auto;
    }

    &__form {
        margin-top: 45px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 156px;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        justify-content: space-between;
        border-radius: 10px;

        input {
            padding: 0 30px;
            width: 100%;
            height: 75px;
            border: none;
            border-radius: 10px;
            font-weight: normal;
            font-size: 16px;
            line-height: 41px;
            color: #000000;
            opacity: 0.5;
        }
    }

    &__btn {
        width: 156px;
        height: 75px;
        font-weight: 500;
        font-size: 18px;
    }
}