@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__wrapper {
            grid-template-columns: 1fr 425px;
        }
    }
    .features {
        &__wrapper {
            justify-content: space-around;
        }
        &__item {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__wrapper {
            grid-template-columns: 1fr 165px;
        }
        &__img {
            &-wrapper {
                opacity: 0.5;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .hamburger {
        display: flex;
    }
    .header {
        &__menu {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            grid-template-columns: 1fr 1px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .menu {
        &__block {
            width: 270px;
        }
    }
    .promo {
        &__wrapper {
            grid-template-columns: 1fr 1px;
        }
        &__descr {
            padding-top: 90px;
        }
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
        &__btns {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__btn {
            &_white {
                margin-top: 20px;
            }
        }
    }
}