.title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $main-color;
    opacity: 0.7;
    &_left {
        text-align: left;
    }
}

.subtitle {
    margin: 7px 0 0 0;
    font-family: 'Philosopher';
    font-weight: bold;
    font-size: 31px;
    line-height: 35px;
    text-transform: capitalize;
    color: #150C01;
    text-align: center;
    &_left {
        text-align: left;
    }
}